<div class="container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
	<mat-toolbar class="toolbar">
		<button mat-mini-fab class="icon" (click)="snav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="title">Emotions map</h1>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
			<mat-list-item>
				<h4 class="filter">Time section</h4>
				<select [(ngModel)]="time" name="time" id="time" class="filter">
					<option *ngFor="let opt of filters[0].options" value={{opt.value}}>{{opt.viewValue}}</option>
				</select>
				<mat-divider></mat-divider>
			</mat-list-item>
			<mat-list-item>
				<h4 class="filter">Season</h4>
				<select [(ngModel)]="season" name="time" id="time" class="filter">
					<option *ngFor="let opt of filters[1].options" value={{opt.value}}>{{opt.viewValue}}</option>
				</select>
				<mat-divider></mat-divider>
			</mat-list-item>
			<mat-list-item>
				<h4 class="filter">Gender</h4>
				<select [(ngModel)]="gender" name="time" id="time" class="filter">
					<option *ngFor="let opt of filters[2].options" value={{opt.value}}>{{opt.viewValue}}</option>
				</select>
				<mat-divider></mat-divider>
			</mat-list-item>
			<mat-list-item>
				<h4 class="filter">Age</h4>
				<select [(ngModel)]="age" name="time" id="time" class="filter">
					<option *ngFor="let opt of filters[3].options" value={{opt.value}}>{{opt.viewValue}}</option>
				</select>
				<mat-divider></mat-divider>
			</mat-list-item>
			<mat-list-item>
				<h4 class="filter">User type</h4>
				<select [(ngModel)]="type" name="time" id="time" class="filter">
					<option *ngFor="let opt of filters[4].options" value={{opt.value}}>{{opt.viewValue}}</option>
				</select>
			</mat-list-item>
			<mat-list-item>
				<button (click)="filter()">
					Filter
				</button>
			</mat-list-item>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>