<div class="container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
	<mat-toolbar class="toolbar">
		<button mat-mini-fab class="icon" (click)="snav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<h1 class="title">Emotions map</h1>
	</mat-toolbar>
	<mat-sidenav-container class="sidenav" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
		<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
			<mat-list-item *ngFor="let f of filters; last as last">
				<h4 class="filter">{{f.name}}</h4>
				<select name={{f.name}} id={{f.name}} class="filter">
					<option *ngFor="let opt of f.options" value="opt.value">{{opt.viewValue}}</option>
				</select>
				<mat-divider *ngIf="!last"></mat-divider>
			</mat-list-item>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>